@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 576px)  {
/* -Reglas- */
main {
  background-color: aliceblue;
}

ul{
  list-style: none;
}

.Cargando{
  display: flex;
  justify-content: center;
}
/* --- */

/* ---------------------------------Header--------------------------------- */
.backgroundHeader{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/fondo.jpg");
    background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
}

header{
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-height: 180px;
}

nav{
    width: 100%;
    height: auto;
}

.menu{
  margin-top: 0px;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  list-style: none;
}

li{
  border-radius: 10px;
  font-size: 30px;
}

.nav{
  text-decoration: none;
  font-size: medium;
  color: black;
  font-weight: 500;
}

.carrito{
  height: 25px;
}

.botonCarrito {
  color: transparent;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 2px solid bisque;
}
/* --- */

/* ---------------------------------Detalles del articulo--------------------------------- */
.DetallesPadre{
  display: flex;
  justify-content: center;
}

.Detalles{
  text-align: center;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid bisque;
  background-color: white;
}

.boton_personalizado{
  text-decoration: none;
  padding: 8px;
  font-weight:400;
  font-size: 15px;
  color: bisque;
  background-color: black;
  border-radius: 6px;
  border: 2px solid bisque;
  margin-top: 5px;
}
.boton_personalizado:hover{
  color: black;
  background-color: #ffffff;
}
/* --- */

/* ---------------------------------Carrito--------------------------------- */
.CarritoVacio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BotonBorrar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.borrar{
  margin: 0;
}

.total{
  display: flex;
  flex-direction: column;
}
/* --- */

/* ---------------------------------Categorias--------------------------------- */
.categorias{
  width: 250px;
  height: 300px;
  background-color: rgba(0,0,0,.1);
  border-radius: 10px;
  margin-left: 20px;
  padding-left: 20px;
  display: none;
}

.categoriasItem{
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: 700;
}
/* --- */

/* ---------------------------------Articulos--------------------------------- */
img{
  border-radius: 10px;
  max-width: 250px;
}

.Inicio{
  display: flex;
  flex-direction: column;
  margin: 0px;
  padding: 0;
  border: 0;
}

.articulos{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ItemCarrito{
  width: 260px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 2px solid bisque;
  margin-top: 20px;
  margin-left: 10px;
}

.ItemCarrito:hover {
  transform: translate(0px, 10px);
}

.Item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PrecioStock{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.protuctName{
  font-size: x-large;
  text-align: center;
  font-weight: 1000;
}

.protuctPrice{
  font-weight: 500;
}

.proprotuctStock{
  font-weight: 200;
}

.productDescription{
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
/* --- */

/* ---------------------------------Footer--------------------------------- */
.footer{
  margin-top: 100px;
  display: flex;
  flex-direction: column;
}

.contenedorMarca{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.Marca{
  font-size: 70px;
}

.textoFooter{
  width: 80%;
  padding: 10px;
  text-align: center;
}

.contenedorContacto{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Contacto{
  margin-bottom: 50px;
}

.itemContacto{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconoWpp{
  fill: rgb(147, 218, 41);
  margin-top: -17px;
  width: 30px;
}

.wpp{
  margin-bottom: 5px;
}

.iconoGmail{
  fill: rgb(219, 59, 59);
  margin-top: -17px;
  width: 30px;
}

.gmail{
  margin-left: 5px;
}

.iconoInstagram{
  fill: rgb(219, 59, 206);
  width: 30px;
}

.textoContacto{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.contenedorEnvios{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contenedorPago{
  display: flex;
  flex-direction: column;
  align-items: center;
  }
/* --- */
}

/* ------------------------------------------------------------------------------------------------------------------------------------ */

@media (min-width: 992px){
/* -Reglas- */
main {
  background-color: aliceblue;
}

ul{
  list-style: none;
}

.Cargando{
  display: flex;
  justify-content: center;
}
/* --- */

/* ---------------------------------Header--------------------------------- */
.backgroundHeader{
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("./assets/fondo.jpg");
    background-repeat: no-repeat;
  background-size: cover;
  background-position: 10%;
}

header{
  grid-area: header;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  max-height: 180px;
}

nav{
    width: 100%;
    height: auto;
}

.menu{
  margin-top: 0px;
  display: flex;
  justify-content: space-evenly ;
  align-items: center;
  list-style: none;
}

li{
  border-radius: 10px;
  font-size: 30px;
}

.nav{
  text-decoration: none;
  color: aliceblue;
  padding: 8px;
  opacity: 0.9;
  font-weight: 500;
}

.carrito{
  height: 50px;
}

.botonCarrito {
  color: transparent;
  border: 2px solid transparent;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  border: 2px solid bisque;
}
/* --- */

/* ---------------------------------Detalles del articulo--------------------------------- */
.DetallesPadre{
  display: flex;
  justify-content: center;
}

.Detalles{
  text-align: center;
  width: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid bisque;
  background-color: white;
}

.boton_personalizado{
  text-decoration: none;
  padding: 8px;
  font-weight:400;
  font-size: 15px;
  color: bisque;
  background-color: black;
  border-radius: 6px;
  border: 2px solid bisque;
  margin-top: 5px;
}
.boton_personalizado:hover{
  color: black;
  background-color: #ffffff;
}
/* --- */

/* ---------------------------------Carrito--------------------------------- */
.CarritoVacio{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BotonBorrar{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.borrar{
  margin: 0;
}

.total{
  display: flex;
  flex-direction: column;
}
/* --- */

/* ---------------------------------Categorias--------------------------------- */
.categorias{
  width: 250px;
  height: 300px;
  border: 2px solid bisque;
  background-color: white;
  border-radius: 10px;
  margin-left: 20px;
  padding-left: 20px;
}

.categoriasItem{
  text-decoration: none;
  color: black;
  font-size: x-large;
  font-weight: 100;
}
/* --- */

/* ---------------------------------Articulos--------------------------------- */
img{
  border-radius: 10px;
  max-width: 250px;
}

.Inicio{
  display: flex;
  margin: 0px;
  padding: 0;
  border: 0;
}

.articulos{
  width: 100%;
  display: grid;
  grid-template-columns: 25% 25% 25%;
  justify-content: center;
}

.ItemCarrito{
  width: 260px;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  border: 2px solid bisque;
  margin-top: 20px;
  margin-left: 10px;
}

.ItemCarrito:hover {
  transform: translate(0px, 10px);
}

.Item{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.PrecioStock{
  display: flex;
  flex-direction: column;
  text-align: center;
}

.protuctName{
  font-size: x-large;
  text-align: center;
  font-weight: 1000;
}

.protuctPrice{
  font-weight: 500;
}

.proprotuctStock{
  font-weight: 200;
}

.productDescription{
  padding-left: 5%;
  padding-right: 5%;
  text-align: center;
}
/* --- */

/* ---------------------------------Footer--------------------------------- */
.footer{
  margin-top: 100px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
}

.contenedorMarca{
  grid-column: 1/4 ;
}

.subLogo{
  display: flex;
}

.subLogo img{
  width: 130px;
}

.Marca{
  font-size: 70px;
  margin-left: 30px;
}

.textoFooter{
  width: 80%;
  padding: 10px;
  text-align: start;
}

.contenedorContacto{
  grid-column: 4/5;
}

.Contacto{
  margin-bottom: 50px;
}

.itemContacto{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.iconoWpp{
  fill: rgb(147, 218, 41);
  margin-top: -17px;
  width: 30px;
}

.wpp{
  margin-bottom: 5px;
}

.iconoGmail{
  fill: rgb(219, 59, 59);
  margin-top: -17px;
  width: 30px;
}

.gmail{
  margin-left: 5px;
}

.iconoInstagram{
  fill: rgb(219, 59, 206);
  width: 30px;
}

.textoContacto{
  text-decoration: none;
  color: black;
  font-weight: 500;
}

.Envios{
  margin-left: 30px;
}
/* --- */
}